.page {
    padding-top: 45px;
    padding-bottom: 60px;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media all and (max-width: 770px) {

    .page {
        padding-top: 28px;
        padding-bottom: 36px;
    }
}