.new-place__container {
    width: 100%;
    max-width: 430px;
    box-sizing: border-box;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 34px 36px 36px 36px;
    border-radius: 10px;
    position: relative;
}

@media all and (max-width: 770px) {
    .new-place__container {
        max-width: 240px;
        padding: 30px 20px;
    }
}