.place__like {
    background-image: url(../../../images/place/place-heart.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    min-width: 21px;
    min-height: 21px;
    box-sizing: border-box;
    border: none;
}

.place__like:hover {
    opacity: .6;
    cursor: pointer;
}